Importing Dependencies

In [82]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler

Loading the Dataset

In [83]:
df=pd.read_csv("heart_disease_data.csv")
df.head(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
5,57,1,0,140,192,0,1,148,0,0.4,1,0,1,1
6,56,0,1,140,294,0,0,153,0,1.3,1,0,2,1
7,44,1,1,120,263,0,1,173,0,0.0,2,0,3,1
8,52,1,2,172,199,1,1,162,0,0.5,2,0,3,1
9,57,1,2,150,168,0,1,174,0,1.6,2,0,2,1

In [84]:
df.shape

(303, 14)

Checking for missing values in the Dataset

In [85]:
df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

Statistical information about the data

In [86]:
df.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

Checking the target column

In [87]:
pd.DataFrame(df["target"].value_counts())

#1---> Defective Heart
#0---> Healthy Heart

        count
target
1         165
0         138

Splitting the features and target from the dataset

In [88]:
X=df.drop(columns='target',axis=1)
y=df['target']

In [89]:
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [90]:
pd.DataFrame(y.head())

   target
0       1
1       1
2       1
3       1
4       1

Splitting the dataset into Training data and Test data

In [91]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.15,stratify=y,random_state=10)

In [92]:
print(X_train.shape,X_test.shape,y_train.shape,y_test.shape)

(257, 13) (46, 13) (257,) (46,)

Model training: Logistic Regression

In [93]:
model=LogisticRegression()
model.fit(X_train,y_train)

c:\Users\SUBHASISH NEOGI\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [94]:
X_test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
278,58,0,1,136,319,1,0,152,0,0.0,2,2,2
173,58,1,2,132,224,0,0,173,0,3.2,2,2,3
72,29,1,1,130,204,0,0,202,0,0.0,2,0,2
238,77,1,0,125,304,0,0,162,1,0.0,2,3,2
174,60,1,0,130,206,0,0,132,1,2.4,1,2,3
136,60,0,2,120,178,1,1,96,0,0.0,2,0,2
165,67,1,0,160,286,0,0,108,1,1.5,1,3,2
107,45,0,0,138,236,0,0,152,1,0.2,1,0,2
71,51,1,2,94,227,0,1,154,1,0.0,2,1,3
30,41,0,1,105,198,0,1,168,0,0.0,2,1,2
115,37,0,2,120,215,0,1,170,0,0.0,2,0,2
99,53,1,2,130,246,1,0,173,0,0.0,2,3,2
276,58,1,0,146,218,0,1,105,0,2.0,1,1,3
101,59,1,3,178,270,0,0,145,0,4.2,0,0,3
149,42,1,2,130,180,0,1,150,0,0.0,2,0,2
280,42,1,0,136,315,0,1,125,1,1.8,1,0,1
283,40,1,0,152,223,0,1,181,0,0.0,2,0,3
96,62,0,0,140,394,0,0,157,0,1.2,1,0,2
90,48,1,2,124,255,1,1,175,0,0.0,2,2,2
181,65,0,0,150,225,0,0,114,0,1.0,1,3,3
95,53,1,0,142,226,0,0,111,1,0.0,2,0,3
271,61,1,3,134,234,0,1,145,0,2.6,1,2,2
219,48,1,0,130,256,1,0,150,1,0.0,2,2,3
201,60,1,0,125,258,0,0,141,1,2.8,1,1,3
205,52,1,0,128,255,0,1,161,1,0.0,2,1,3
161,55,0,1,132,342,0,1,166,0,1.2,2,0,2
176,60,1,0,117,230,1,1,160,1,1.4,2,2,3
265,66,1,0,112,212,0,0,132,1,0.1,2,1,2
67,45,0,1,130,234,0,0,175,0,0.6,1,0,2
73,51,1,0,140,261,0,0,186,1,0.0,2,0,2
288,57,1,0,110,335,0,1,143,1,3.0,1,1,3
253,67,1,0,100,299,0,0,125,1,0.9,1,2,2
82,60,0,2,102,318,0,1,160,0,0.0,2,1,2
229,64,1,2,125,309,0,1,131,1,1.8,1,0,3
62,52,1,3,118,186,0,0,190,0,0.0,1,0,1
117,56,1,3,120,193,0,0,162,0,1.9,1,0,3
155,58,0,0,130,197,0,1,131,0,0.6,1,0,2
66,51,1,2,100,222,0,1,143,1,1.2,1,0,2
11,48,0,2,130,275,0,1,139,0,0.2,2,0,2
48,53,0,2,128,216,0,0,115,0,0.0,2,0,0
77,59,1,1,140,221,0,1,164,1,0.0,2,0,2
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
290,61,1,0,148,203,0,1,161,0,0.0,2,1,3
180,55,1,0,132,353,0,1,132,1,1.2,1,1,3
109,50,0,0,110,254,0,0,159,0,0.0,2,0,2
123,54,0,2,108,267,0,0,167,0,0.0,2,0,2

Model Evaluation

In [95]:
X_train_prediction=model.predict(X_train)
X_train_accuracy=accuracy_score(X_train_prediction,y_train)
print("Training Accuracy: ",X_train_accuracy*100,"%")

Training Accuracy:  85.21400778210116 %

In [96]:
X_test_prediction=model.predict(X_test)
X_test_accuracy=accuracy_score(X_test_prediction,y_test)
print("Test Accuracy: ",X_test_accuracy*100,"%")

Test Accuracy:  89.13043478260869 %

Building Prediction System

In [97]:
input_data=(67,1,0,120,229,0,0,129,1,2.6,1,2,3)
data=np.asarray(input_data)
data_reshaped=data.reshape(1,-1)
prediction=model.predict(data_reshaped)

c:\Users\SUBHASISH NEOGI\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

In [98]:
if prediction[0]==1:
    print("Patient is suspected to be suffering from heart disease")
else:
    print("Patient has healthy heart")

Patient has healthy heart